<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Destinations</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <div id="background">
        <div id="page">
            {{> header}} <!-- Include the header partial here -->
            <div id="contents">
                <div class="box">
                    <div>
                        <div class="body">
                            <h1>Travel</h1>
                            <ul id="sites">
                                {{#each destinations}}
                                <li>
                                    <a href="/travel"><img src="{{this.image}}" alt="Img"></a>
                                    <h2><a href="/travel">{{this.name}}</a></h2>
                                    {{#each this.description}}
                                    <p>{{this}}</p>
                                    {{/each}}
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}} <!-- Include the footer partial here -->
        </div>
    </div>
</body>

</html>
